.sectionHeader
    h2.sectionHeader__caption Агенства недвижимости
    p.sectionHeader__description В данном разделе для Вас подобраны зарекомендовавшие себя агентства недвижимости. Вы сможете самостоятельно подобрать для себя агентство недвижимости, воспользовавшись удобным поиском с различными фильтрами. Хотелось бы отметить, что агентства недвижимости Минска предоставляют огромный спектр услуг по подбору недвижимости для самых различных нужд.

include ../agenciesList/agenciesList

.sectionHeader
    h2.sectionHeader__caption Агенства недвижимости
    p.sectionHeader__description В данном разделе для Вас подобраны зарекомендовавшие себя агентства недвижимости. Вы сможете самостоятельно подобрать для себя агентство недвижимости, воспользовавшись удобным поиском с различными фильтрами. Хотелось бы отметить, что агентства недвижимости Минска предоставляют огромный спектр услуг по подбору недвижимости для самых различных нужд.

include ../agencyContactList/agencyContactList
