doctype html
html(lang="ru")
    head
        base(href='/')

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='./style.css')

        title Hata
body.page
    .container
        .row
            .col-xs-9
                include blocks/main/main
            .col-xs-3
                include blocks/sidebar/sidebar
