.agencyPreview
    .row
        .col-xs-4
            img.agencyPreview__image(src="http://fpoimg.com/256x256")
        .col-xs-8
            .heading.heading_3
                a.link(href="#") Сильван
            button.button.m-r Объекты в продаже
            button.button Объекты в аренде
            p На рынке недвижимости с ХХХХ года
            .agencyPreview__contacts
                .row
                    .col-xs-9
                        address
                            b.block Лицензия:
                            span 02240/116 от 22.06.2006 до 22.06.2016 Министерство юстиции РБ.
                            .separator
                            b Адрес: &nbsp;
                            span Минск Независимости пр. д. 30 &nbsp;
                            a.link(href="#") Посмотреть на карте
                            .separator
                            b.block Телефоны:
                            .block
                                span +375 17 222-38-91
                                span.text_grey &nbsp; (vel) отдел жилой недвижимости
                            .block
                                span +375 29 678-38-91
                                span.text_grey &nbsp; (mts)
                            .block
                                span +375 29 778-38-91
                                span.text_grey &nbsp; отдел коммерческой недвижимости

                    .col-xs-3
                        .socialLink
                           .socialLink__image
                               img(src="/images/mail.png")
                           .socialLink__text
                               a.link.text_black(href="mailto:office@silvan.by")
                                b office@silvan.by
                        .socialLink
                           .socialLink__image
                               img(src="/images/icon_silvan.png")
                           .socialLink__text
                               a.link.text_black(href="http://www.silvan.by")
                                b http://www.silvan.by



.agencyPreview
    .row
        .col-xs-4
            img.agencyPreview__image(src="http://fpoimg.com/256x256")
        .col-xs-8
            .heading.heading_3
                a.link(href="#") Сильван
            button.button.m-r Объекты в продаже
            button.button Объекты в аренде
            p На рынке недвижимости с ХХХХ года
            .agencyPreview__contacts
                .row
                    .col-xs-9
                        address
                            b.block Лицензия:
                            span 02240/116 от 22.06.2006 до 22.06.2016 Министерство юстиции РБ.
                            .separator
                            b Адрес: &nbsp;
                            span Минск Независимости пр. д. 30 &nbsp;
                            a.link(href="#") Посмотреть на карте
                            .separator
                            b.block Телефоны:
                            .block
                                span +375 17 222-38-91
                                span.text_grey &nbsp; (vel) отдел жилой недвижимости
                            .block
                                span +375 29 678-38-91
                                span.text_grey &nbsp; (mts)
                            .block
                                span +375 29 778-38-91
                                span.text_grey &nbsp; отдел коммерческой недвижимости

                    .col-xs-3
                        .socialLink
                           .socialLink__image
                               img(src="/images/mail.png")
                           .socialLink__text
                               a.link.text_black(href="mailto:office@silvan.by")
                                b office@silvan.by
                        .socialLink
                           .socialLink__image
                               img(src="/images/icon_silvan.png")
                           .socialLink__text
                               a.link.text_black(href="http://www.silvan.by")
                                b http://www.silvan.by
