.agencyContactList
    .row
        .col-xs-6.b-r
            .agencyContactList__item
                .heading.heading_4
                    a.link(href="#") Сильван
                b.block Телефоны:
                .block
                    span +375 17 222-38-91
                    span.text_grey &nbsp; (vel) отдел жилой недвижимости
                .block
                    span +375 29 778-38-91
                    span.text_grey &nbsp; отдел коммерческой недвижимости
            .agencyContactList__item
                .heading.heading_4
                    a.link(href="#") Сильван
                b.block Телефоны:
                .block
                    span +375 29 678-38-91
                    span.text_grey &nbsp; (mts)
            .agencyContactList__item
                .heading.heading_4
                    a.link(href="#") Сильван
                b.block Телефоны:
                .block
                    span +375 17 222-38-91
                    span.text_grey &nbsp; (vel) отдел жилой недвижимости
                .block
                    span +375 29 678-38-91
                    span.text_grey &nbsp; (mts)
                .block
                    span +375 29 778-38-91
                    span.text_grey &nbsp; отдел коммерческой недвижимости
        .col-xs-6.b-r
            .col-xs-12
                .agencyContactList__item
                    .heading.heading_4
                        a.link(href="#") Сильван
                    b.block Телефоны:
                    .block
                        span +375 17 222-38-91
                        span.text_grey &nbsp; (vel) отдел жилой недвижимости
                    .block
                        span +375 29 778-38-91
                        span.text_grey &nbsp; отдел коммерческой недвижимости
                .agencyContactList__item
                    .heading.heading_4
                        a.link(href="#") Сильван
                    b.block Телефоны:
                    .block
                        span +375 29 678-38-91
                        span.text_grey &nbsp; (mts)
                .agencyContactList__item
                    .heading.heading_4
                        a.link(href="#") Сильван
                    b.block Телефоны:
                    .block
                        span +375 17 222-38-91
                        span.text_grey &nbsp; (vel) отдел жилой недвижимости
